* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 500px;
    margin: 0 auto;
}

div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}